<header class="header">
    <nav class="nav">
        <a href="/" class="nav-logo">
            Web<span class="logo-span">AppsCraft</span>
        </a>
        <ul class="nav-list">
            <li class="nav-item">
                <a href="#services" class="nav-link">Services</a>
            </li>
            <li class="nav-item">
                <a href="#about" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a href="#portfolio" class="nav-link">Portfolio</a>
            </li>
            <li class="nav-item">
                <a href="#blog" class="nav-link">Blog</a>
            </li>
        </ul>
    </nav>
    
    <address class="address">
        <a href="mailto:<%= email %>" class="address-link"><%= email %></a>
        <a href="tel:<%= phone %>" class="address-link"><%= phone %></a>
    </address>

    <button class="nav-btn">
        <i class="fas fa-bars"></i>
    </button>

    <button class="nav-btn-close" style="display: none;">
        <i class="fas fa-times"></i>
    </button>

    <ul class="nav-list-mobile" style="display: none;">
        <li class="nav-item">
            <a href="#services" class="nav-link">Services</a>
        </li>
        <li class="nav-item">
            <a href="#about" class="nav-link">About</a>
        </li>
        <li class="nav-item">
            <a href="#portfolio" class="nav-link">Portfolio</a>
        </li>
        <li class="nav-item">
            <a href="#blog" class="nav-link">Blog</a>
        </li>
        <li class="nav-item">
            <address class="address-mobile">
                <a href="mailto:<%= email %>" class="address-link"><%= email %></a>
                <a href="tel:<%= phone %>" class="address-link"><%= phone %></a>
            </address>
        </li>
    </ul>
</header>