<%- layout(defaultLayout) -%>

<%- include('./partials/header') -%>

<main class="main">

    <%- include('./sections/hero') -%>
    <%- include('./sections/services') -%>
    <%- include('./sections/about') -%>
    <%- include('./sections/why-choose') -%>
    <%- include('./sections/contacts') -%>

</main>

<%- include('./partials/footer') -%>
